; THIS CONFIG FILE IS FOR ADVANCED USERS.  START WITHOUT ANY CONFIG FILE
; AND ADVANCE SLOWLY FROM THERE.
;
; This sample configuration file should reflect the defaults used by
; SIO2K.SYS.  That is, using this configuration file should be the same as
; using no configuration file at all.  If you wish to start your own
; configuration file, copy this file to SIO2K.CFG and start the modification
; process.
;
; Basically, there are two elements in the config file.  The option type
; which starts in the first column below, and the specific option within
; that type.  Data may be entered into this file in upper and lower case or
; any mixture.
;
; Anything following a semicolon (;) is ignored, additionally blank lines
; are ignored.
;
; The option types are:
;    Os2Device - The specific options in this group define and specify an OS/2 
;                proper device, such as COM1, COM2 etc.
;
; Specific options available under the "Os2Device" type are:
;    Name
;      Example, Name=com1.  SIO2K.SYS allows users to define the device names
;      that it will service.  The name need NOT be com1, com2 etc.  It can be
;      any name (valid file name) up to 8 characters.  This feature allows
;      SIO2K.SYS to be coresident with other drivers that define standard
;      device names.  Example, COM.SYS can control com1 to com4, and SIO2K.SYS
;      can start at com5.
;
;    AltDriver
;      Example, AltDriver=UART$,3.  This option is telling SIO2K.SYS that
;      another device driver, that identifies itself as UART$,  is
;      controlling the actual hardware, AND that the third device within
;      UART$ is to be used.  Among other things, this option gives
;      drivers without a virtual Dos interface access to SIO2K's virtual
;      drivers.  The name UART$ is an inter device driver name and must be
;      obtained from the drivers documentation.  The name is usually NOT
;      the same as the device drivers name.  For example, the IDC name for
;      UARTS.SYS is UART$.
;
;    LockedBitRate
;      Example, LockedBitRate=57600.  This option will cause SIO2K.SYS to set
;      the bit (baud) rate to the specified value and to ignore attempted
;      changes made by application programs.  NO CHECKING OF THE VALUE IS
;      DONE.
;
;    Os2Shares
;      Normally when an OS/2 application open a comm port, Dos/Windows cannot
;      access the comm port, even if the OS/2 app specified sharing is
;      allowed.  This option overrides the restriction and allows Dos to
;      have access to the port.
;
; EXPERIMENT AT LEAST A WEEK BEFORE ASKING FOR SUPPORT.
;
;-----------------------;----------------------------------------------------
Os2Device		;
 Name=com1		;System name to assigned to port (max 8 chars).
			;
 AltDriver=uart$,1	;The name and logical port number (1 relative) of
                        ;an alternate device driver that will control the
			;hardware, see the manual.
;-----------------------;----------------------------------------------------
Os2Device		;
 Name=com2		;System name to assigned to port (max 8 chars).
			;
 AltDriver=uart$,2	;The name and logical port number (1 relative) of
                        ;an alternate device driver that will control the
			;hardware, see the manual.
;-----------------------;----------------------------------------------------
Os2Device		;
 Name=com3		;System name to assigned to port (max 8 chars).
			;
 AltDriver=uart$,3	;The name and logical port number (1 relative) of
                        ;an alternate device driver that will control the
			;hardware, see the manual.
;-----------------------;----------------------------------------------------
Os2Device		;
 Name=com4		;System name to assigned to port (max 8 chars).
			;
 AltDriver=uart$,4	;The name and logical port number (1 relative) of
                        ;an alternate device driver that will control the
			;hardware, see the manual.
;----------------------------------------------------------------------------
;
; This section of the config file is for UARTS.SYS, aka UART$
;
; The option types are:
;    BaseUart - This option signals the end of the SIO2K.SYS config
;    information and the start of the UARTS.SYS section of the config file.
;
; Specific options available under the "BaseUart" type are:
;   SuperIO - Many motherboards and IDE controller cards have uarts with
;   enhance capabilities, such as faster bit (baud) rates.  If this option
;   is included below, it enables the searching for these type of uarts and
;   the use of their extended features.  This option is global and need to
;   be given only once.
;
;    ExclusiveIRQ
;      Device drivers can choose to use an IRQ exclusively, or to allow other
;      device drivers to use the IRQ at the same time.  Conflicts can occur
;      either way.  UARTS.SYS defaults to sharing IRQs with other drivers.
;      Using this option will cause UARTS.SYS to use an IRQ exclusively.
;      Thus other drivers are NOT allowed to have access to the IRQ.
;
;    Hardware
;      Example, Hardware=AutoDetect.  This options tells UARTS.SYS to
;      automatically (in this example) determine if the UART is an 8250, 16450
;      or a 16550.  You can force the UART to by specifying the device type.
;      For example: Hardware=16550.  At this writting, UART.SYS supports
;      the 8250/16450, 16550, 16650, 16650A, 16654, 16750, 16850 and their
;      variants.
;      In addition, you may specify Hardware=PCI.  In this case, the driver
;      will select the next available PCI device and use that UART.  If
;      Hardware=PCI is used, then IO_Address setting (if any) is ignored.
;
;    IO_Address
;      Example, IO_Address=3f8.  This option tells UARTS.SYS the I/O port
;      to use, OR the method that UARTS.SYS is to use the assign a default
;      address.  The COMMON addresses for COM1 through COM4 are 3f8, 2f8, 3e8
;      and 3e8 respectively.  See the appendix in the user documentation for
;      other common I/O addresses, like PS/2 systems.
;
;      COM.SYS, and many other drivers and programs use a strage method of
;      assigning the DEFAULT addresses for COM1 to COM4.  They extract the
;      default addresses from memory locations in Bios Ram.  See the users
;      manual for more discussion on this.  If you desire to use the COM.SYS
;      method of setting the DEFAULT I/O address, then specify BiosRamCom1
;      through BiosRamCom4 as the option.  Example: IO_Address=BiosRamCom1.
;
;      Defults only apply to COM1 through COM4.  You MUST give a specific
;      I/O address for all other devices.
;
; As defined in the examples below, UARTS.SYS will setup COM1 to COM4 in
; the same same manner as com.sys does.
;------$UART,1----------;----------------------------------------------------
BaseUart		;define the first device to UARTS.SYS
 SuperIo		;enable usage of features on enahnced uarts.
 IO_Address=BiosRamCom1	;I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 Hardware=AutoDetect	;Valid types are (see manual too):
			;  AutoDetect - autodetect 8250, 16450, or 16550 etc
			;  PCI - Select the next PCI device
			;  8250 - force uart to 8250
			;  16450 - force uart to 16450
			;  16550 - force uart to 16550
;------$UART,2----------;----------------------------------------------------
BaseUart		;define a second device to UARTS.SYS
 SuperIo		;enable usage of features on enahnced uarts.
 IO_Address=BiosRamCom2	;I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 Hardware=AutoDetect	;Valid types are (see manual too):
			;  AutoDetect - autodetect 8250, 16450, or 16550 etc
			;  PCI - Select the next PCI device
			;  8250 - force uart to 8250
			;  16450 - force uart to 16450
			;  16550 - force uart to 16550
;------$UART,3----------;----------------------------------------------------
BaseUart		;define a third device to UARTS.SYS
 SuperIo		;enable usage of features on enahnced uarts.
 IO_Address=BiosRamCom3	;I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 Hardware=AutoDetect	;Valid types are (see manual too):
			;  AutoDetect - autodetect 8250, 16450, or 16550 etc
			;  PCI - Select the next PCI device
			;  8250 - force uart to 8250
			;  16450 - force uart to 16450
			;  16550 - force uart to 16550
;------$UART,4----------;----------------------------------------------------
BaseUart		;define a fourth device to UARTS.SYS
 SuperIo		;enable usage of features on enahnced uarts.
 IO_Address=BiosRamCom4	;I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 Hardware=AutoDetect	;Valid types are (see manual too):
			;  PCI - Select the next PCI device
			;  AutoDetect - autodetect 8250, 16450, or 16550 etc
			;  8250 - force uart to 8250
			;  16450 - force uart to 16450
			;  16550 - force uart to 16550
;----------------------------------------------------------------------------
; This section of the config file is for dos sessions, ie VSIO2K.SYS.
;
; The option types are:
;    DosDevice - This option signals the end of the UARY.SYS config
;    information and the start of the VSIO2K.SYS section of the config file.
;
; Specific options available under the "BaseUart" type are:
;
;    Os2DevName
;      Example, Os2DevName=com1.  This option tells vsio2k.sys the name of
;      the OS/2 device (eg com1, com2 etc) that is to be associated with
;      the DOS device being defined.
;
;    VirtualIO
;      Example, VirtualIO=2f8 or VirtualIO=BiosRamCom1.  This option tells
;      vsio2k.sys the I/O address that this DOS device is to virtualize.
;      If a DOS or Windows program touches this I/O port, the accesses
;      will be intercepted by vsio2k.sys and translated into calls to
;      SIO2K.SYS (the OS/2 driver).  Note that the virtual address NEED NOT
;      be the same as the address of the (real) OS/2 device.
;
;    VirtualIRQ
;      Example, VirtualIRQ=4.  This option tells vsio2k.sys which virtual
;      IRQ to associate with the dos device being defined.  All DOS devices
;      can share virtual IRQs.  However, your application software must
;      be configured to use the same IRQ.  The virtual IRQ need not be the
;      same as the IRQ that the associated OS/2 device is using.
;
;    DosShares
;      This option tells vsio2k.sys to allow OS/2 sessions to have access to
;      this DOS device.  Note that the OS/2 kernel prevents two DOS sessions
;      from using the same device, so two DOS sessions can never share a
;      communications port.
;
;    VirtualUart
;      Example, VirtualUart=16550.  This option tells vsio2k.sys the type of
;      uart to emulate.  Generally, 16550 should be specified.
;-----------------------;----------------------------------------------------
DosDevice		;
 Os2DevName=com1	;This name must match a name given in an Os2Device
			;name statement.  The Os2Device name statement must
			;preceed this statement in the config file.
			;
 VirtualIO=BiosRamCom1	;Virtual I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 VirtualIRQ=4		;Decimal number from 3 to 15. Virtual IRQ for this port.
			;
 DosShares		;OS/2 can access DOS opened port.
			;
 VirtualUart=16550	;Valid types are (see manual too):
			;  16450 - simulate a 16450 uart
			;  16550 - simulate a 16550 uart
;-----------------------;----------------------------------------------------
DosDevice		;
 Os2DevName=com2	;This name must match a name given in an Os2Device
			;name statement.  The Os2Device name statement must
			;preceed this statement in the config file.
			;
 VirtualIO=BiosRamCom2	;Virtual I/O port address or method of assignment.
			;Valid I/O port Address options are:
			;  BiosRamComN - assign like com.sys, com1 to com4 only.
			;  nnnn - a hexidecimal number like 2F8.
			;
 VirtualIRQ=3		;Decimal number from 3 to 15. Virtual IRQ for this port.
			;
 DosShares		;OS/2 can access DOS opened port.
			;
 VirtualUart=16550	;Valid types are (see manual too):
			;  16450 - simulate a 16450 uart
			;  16550 - simulate a 16550 uart
;;-----------------------;----------------------------------------------------
;DosDevice		;
; Os2DevName=com3	;This name must match a name given in an Os2Device
;			;name statement.  The Os2Device name statement must
;			;preceed this statement in the config file.
;			;
; VirtualIO=BiosRamCom3	;Virtual I/O port address or method of assignment.
;			;Valid I/O port Address options are:
;			;  BiosRamComN - assign like com.sys, com1 to com4 only.
;			;  nnnn - a hexidecimal number like 2F8.
;			;
; VirtualIRQ=4		;Decimal number from 3 to 15. Virtual IRQ for this port.
;			;
; DosShares		;OS/2 can access DOS opened port.
;			;
; VirtualUart=16550	;Valid types are (see manual too):
;			;  16450 - simulate a 16450 uart
;			;  16550 - simulate a 16550 uart
;;-----------------------;----------------------------------------------------
;DosDevice		;
; Os2DevName=com4	;This name must match a name given in an Os2Device
;			;name statement.  The Os2Device name statement must
;			;preceed this statement in the config file.
;			;
; VirtualIO=BiosRamCom4	;Virtual I/O port address or method of assignment.
;			;Valid I/O port Address options are:
;			;  BiosRamComN - assign like com.sys, com1 to com4 only.
;			;  nnnn - a hexidecimal number like 2F8.
;			;
; VirtualIRQ=3		;Decimal number from 3 to 15. Virtual IRQ for this port.
;			;
; DosShares		;OS/2 can access DOS opened port.
;			;
; VirtualUart=16550	;Valid types are (see manual too):
;			;  16450 - simulate a 16450 uart
;			;  16550 - simulate a 16550 uart
;;-----------------------;----------------------------------------------------

