/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* The source code in this module is proprietary software belonging to       */
/* Clark Development Company and is part of the PCBoard source code library. */
/* You are granted the right to use this source code for the building of any */
/* of the PCBoard products you have licensed.  Any other usage is forbidden  */
/* without prior written consent from Clark Development Company, Inc.        */
/*                                                                           */
/* Be sure to read the source code license agreement before utilizing any    */
/* of the source code found herein.                                          */
/*                                                                           */
/* Copyright (C) 1996  Clark Development Company, Inc.  All Rights Reserved. */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#ifndef WORKSHOP_INVOKED
#include <os2.h>
#endif
#include "main.h"
#include "help.h"
#include "dlg.h"

/*
 *  Help table definition
 */
HELPTABLE   TEMPLATE_HELP_TABLE
{
    HELPITEM    IDR_MAIN,       SUBTABLE_MAIN,         PANEL_MAIN
    HELPITEM    IDD_PRODUCTINFO, SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG
}


/*
 *  Main window subtable, includes menu item help
 */
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
    HELPSUBITEM     IDM_FILE,                   PANEL_FILE
    HELPSUBITEM     IDM_FILEOPEN,               PANEL_FILEOPEN
    HELPSUBITEM     IDM_FILELIMIT,              PANEL_FILELIMIT
    HELPSUBITEM     IDM_FILENODE,               PANEL_FILENODE
    HELPSUBITEM     IDM_FILEEXIT,               PANEL_FILEEXIT

    HELPSUBITEM     IDM_EDITRECORD,             PANEL_EDIT

    HELPSUBITEM     IDM_ACTION,                 PANEL_ACTION
    HELPSUBITEM     IDM_ACTSCRN,                PANEL_ACTIONONSCREEN
    HELPSUBITEM     IDM_ACTALL,                 PANEL_ACTIONALLNODES
    HELPSUBITEM     IDM_ACTRUNNODES,            PANEL_ACTIONRUNSWITCH
    HELPSUBITEM     IDM_ACTRESTARTNODES,        PANEL_ACTIONRESTART
    HELPSUBITEM     IDM_ACTHIDENODES,           PANEL_ACTIONHIDENODES
    HELPSUBITEM     IDM_ACTSHOWNODES,           PANEL_ACTIONSHOWNODES
    HELPSUBITEM     IDM_ACTARRANGENODES,        PANEL_ACTIONARRANGENODES
    HELPSUBITEM     IDM_ACTSCRNDROPDOSNOW,      PANEL_ACTIONDROPDOSNOW
    HELPSUBITEM     IDM_ACTSCRNDROPDOS,         PANEL_ACTIONDROPDOS
    HELPSUBITEM     IDM_ACTSCRNLOGOFF,          PANEL_ACTIONLOGOFF
    HELPSUBITEM     IDM_ACTSCRNRECYCLE,         PANEL_ACTIONRECYCLE
    HELPSUBITEM     IDM_ACTSCRNCLEAR,           PANEL_ACTIONCLEAR
    HELPSUBITEM     IDM_ACTALLDROPDOSNOW,       PANEL_ACTIONDROPDOSNOW
    HELPSUBITEM     IDM_ACTALLDROPDOS,          PANEL_ACTIONDROPDOS
    HELPSUBITEM     IDM_ACTALLLOGOFF,           PANEL_ACTIONLOGOFF
    HELPSUBITEM     IDM_ACTALLRECYCLE,          PANEL_ACTIONRECYCLE
    HELPSUBITEM     IDM_ACTALLCLEAR,            PANEL_ACTIONCLEAR

    HELPSUBITEM     IDM_UPDATE,                 PANEL_UPDATE
    HELPSUBITEM     IDM_UPDATENOW,              PANEL_UPDATENOW
    HELPSUBITEM     IDM_UPDATEINTERVAL,         PANEL_UPDATEINTERVAL

    HELPSUBITEM     IDM_OPTIONS,                PANEL_OPTION
    HELPSUBITEM     IDM_OPTIONSFONT,            PANEL_OPTIONFONT
    HELPSUBITEM     IDM_OPTIONSDISPLAY,         PANEL_OPTIONDISPLAY
    HELPSUBITEM     IDM_OPTIONSWARNINGS,        PANEL_OPTIONWARNING
    HELPSUBITEM     IDM_OPTIONSSTARTUP,         PANEL_OPTIONSTARTUP
    HELPSUBITEM     IDM_OPTIONSMOUSE,           PANEL_OPTIONMOUSE
    HELPSUBITEM     IDM_OPTIONSSAVE,            PANEL_OPTIONSAVE

    HELPSUBITEM     IDM_HELP,                   PANEL_HELP
    HELPSUBITEM     IDM_HELPINDEX,              PANEL_HELPINDEX
    HELPSUBITEM     IDM_HELPGENERAL,            PANEL_HELPGENERAL
    HELPSUBITEM     IDM_HELPUSINGHELP,          PANEL_HELPUSINGHELP
    HELPSUBITEM     IDM_HELPTUTORIAL,           PANEL_HELPTUTORIAL
    HELPSUBITEM     IDM_HELPPRODUCTINFO,        PANEL_HELPPRODUCTINFO
}

/*
 *  Enter text dialog help subtable
 */
HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
SUBITEMSIZE     2
{
    HELPSUBITEM     IDC_OK,             PANEL_PRODUCTINFO_OK
}
